@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;800&family=Roboto:wght@400;500;700&display=swap');

html{
    font-family: 'Heebo', 'Roboto', sans-serif;
}

.navbar {
    padding: 0.75em;
   
}

.navbar a{
    font-size: 1.1em;
    color: #000;
    font-weight: 700;
    margin-right: 1em;
}

.navbar a:hover {
    color: #00A8CC;
}

.navbar input {
    color: #000;
    width: 7em !important;
    border: 1px solid #000
}

.navbar button[type=submit] {
    border: 1px solid #000;
    height: 100%;
}

.navbar input::placeholder {
    color: #000;
}

.navbar-collapse {
    margin-bottom: 2em;
    border-bottom: 1px solid #8695A4;
}

 /* main container */
.main .row {
    margin: 1em;
}

.logo {
    order: -1;
    text-align: center;
}

.main img{
    border-radius: 100%;
    width: 11em;
    box-shadow: -5px 5px #DAE1E3;
}

.main h2 {
    font-size: 2.5em;
    margin-top: 1em;
    text-align: center;
    font-weight: 650;
}

.main p {
    margin-top: 2em;
    text-align: center;
    font-size: 1.05em;
}

.main a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    background-color: #00A8CC;
    padding: 0.5em 4em;
    margin: 0 auto;
    display: block;
    width: 70%;
}

/* Recent Projects */

.recentProjects {
    padding: 0.5em;
    background-color: #363939;
    border-radius: 0.3em;
    color: #fff;
}

.recentProjects h3{
    text-align: center;
    margin: 1em 0;
}

.moreProjects {
    display: none;
}

.projects {
    background-color: #fff;
    border-radius: 0.25em;
    padding: 1em;
    color: #000;
    margin-bottom: 1em;
}

.projects h4 {
    font-weight: 700;
    font-size: 1.8em;
    margin-bottom: 1em;
}

.projects p{
    margin: 1em 0;
}

/* Main Projects */

.mainProjects {
    margin-top: 3em;
    margin-bottom: 3em;
    color: #21243D;
}

.mainProjects h3{
    text-align: center;
}

.mainProject {
    padding: 1em 0;
    border-bottom: 1px solid #E0E0E0;
}

.mainProject img {
    width: 100%;
}

.mainProject h4{
    font-weight: 700;
    font-size: 1.7em;
    margin-top: 1em;
}

.mainProject .year{
    color: #fff;
    background-color: #21243D;
    padding: 0 .55em;
    border-radius: 30px;
    font-weight: 550;
    font-size: 1.2em
}

.mainProject .category {
    margin-left: 2em;
    color: #8695A4;
    font-size: 1.35em;
}

.mainProject p {
    margin: 1em 0;
    font-size: 1.1em;
}

/* footer  */

footer {
    text-align: center;
    padding: 3em;
}

footer .icons{
    font-size: 2em;
}

footer a {
    color: #363939;
}

footer a:hover {
    color: #00A8CC;
}

footer i {
    margin: .5em;
}

@media (min-width: 768px) {

    .navbar {
        padding: 1.25em;
    }


    .navbar button:hover {
        color: #fff;
        background-color: #00A8CC;
    }

    .navbar-collapse {
        margin-bottom: 0;
        border-bottom: 0;
    }

    .main {
        margin-top: 7.5em;
        margin-bottom: 2em;
    }


    .logo {
        order: 1;
    }

    .main img {
        width: 22em;
        box-shadow: -10px 10px #DAE1E3;
    }

    .main h2 {
        font-size: 3em;
        text-align: start;
    }
    
    .main p {
        text-align: justify;
        margin-right: 2em;
    }
    
    .main a {
        display: inline-block;
        margin: 3em 0;
        width: fit-content;
    }
    
   

    /* Recent Projects */

    .recentProjects {
        padding: 2em;
    }

    .recentProjects h3{
        text-align: start;
    }

    .moreProjects {
        text-decoration: none;
        color: #00A8CC;
        margin-left: auto;
        position: relative;
        left: calc(100% - 150px);
        top: -30px;
    }

    .projects {
        border-radius: 1em;
        padding: 2em;
        margin-bottom: 0;
    }

    /* Main Projects */

    .mainProjects h3{
        text-align: start;
    }

    .mainProject h4{
        font-size: 2em;
    }

}